
.common{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:medium;
    font-weight:bolder;
    line-height:normal;
    color: rgb(232, 46, 148);
    text-align:left;
    padding: 20px;
    border: 15px solid rgb(232, 46, 148);
    margin: 20px;
    background-color: rgb(189, 235, 249);
  }

body{
    background-color: rgb(207, 185, 255);
  }
 
ol{
    font-style: normal;
    list-style-position: inside;
  }

ul{
    list-style-position: inside;
  }

.header{
    font-weight: bolder;
    font-style: normal;
    font-size: x-large;
  }

h3{
    font-weight: bolder;
    font-style: normal;
    font-size: x-large;
}

.footer{
    font-style:italic;
  }

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:30%;
}
  